/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-jun-2016, 9:18:01
    Author     : FIA-LAB1D6
*/
*{
    margin :0 auto;
    padding:0px;
}

#loginBody{
    position:relative;
    height: 100%;
}
#indexBody{
    position:relative;
    margin-top: 70px;
    height: calc(100%-70px);
}
.login{
    margin-top: 20px;
    padding:10px;
    width: 300px;
    border:1px solid #cccccc;
    border-radius: 0.25em;
}
header{
    width:100%;
    height: 140px;
    background: #003399;
    color:white;
    padding:10px;
}
h1{
    text-align: center;
}
.menuBar ul{
    padding:10px;
    background: #424040;
    opacity:0.9;
    width:220px;
    display:none;
}
.menuBar ul li{
    text-align: center;
    padding:10px;
    display:block;
    width:200px;
    cursor:pointer;
}
.menuBar ul li a{
    font-size: 24px;
    font-weight: bold;
}
.menuBar{
    position: fixed;
    top:0px;
    width:100%;
    z-index: 1000;
    display:none;
}
.menuBar div{
    height: 50px;
    padding:10px;
    background: #003399;
}
.menuBar div a{
    cursor:pointer;
}
span{
    font-size: 24px;
    color:white;
}
.menuBar ul li:hover{
    color:yellow
}
.menu{
    display:block;
    height: 70px;
    position: fixed;
    top:0px;
    padding:10px;
    background: #003399;
    width:100%;
    margin-left: -10px;
    z-index: 1000;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display:inline-block;
    padding:20px;
    text-align: center;
}
.menu ul li a,.menuBar ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    cursor:pointer;
}
.menu ul li a:hover,.menuBar ul li a:hover{
    text-decoration: none;
    color:#f0e641
}
ul li:hover{
    text-decoration: none;
    background-color:#8199f3;
}
footer{
    text-align: center;
    background: #003399;
    margin-bottom: 0px;
    color:white;
    padding:20px;
}
.contents{
    width:90%;
    height: 70vh;
}
.container{
    margin:10px auto;
}
#incorrect{
    margin:10px;
}
.animacion{
    padding:10px;
    position:relative;
    top: 50%;
}
.animacion button{
    width:100%;
}
#panel{
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    padding: 50px;
    display: none;
}

#sliderContainer{
    position:relative;
    width:100%;
    height: 100%;
}
div img{
    display:block;
    width: 100%;
    height: 100%;
}
#slider{
    width:100%;
}
.slide{
    position:absolute;
    opacity: 0;
    transition: 2s;
    width:100%;
    height: 100%;
}
.slideCurrent{
    opacity: 1;
    transition: 2s;
}
@media screen and (max-width: 800px) {
    .menu {
        display:none;
    }
    .menuBar{
        display:block;
    }
    #indexBody{
        position:relative;
        margin-top: 50px;
        height: calc(100%-50px);
    }
    .menuBar ul{
        width:100%;
    }
    .menuBar ul li{
        width:100%;
    }
}